@import "imports.scss";

.fs {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fp-nav ul li a span {
  transition: all .5s ease-in-out;
  &.dot-light {
    background: whitesmoke;
  }
}

.uk-section {
  padding-top: 0;
  padding-bottom: 0;
}

.menu-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background: black;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
  display: flex;
  align-items: center;
  .container {
    width: 100%;
  }
  h1 {
    color: white;
  }
  &.menu-active {
    opacity: 0.9;
    visibility: visible;
  }
}