@import "imports.scss";

.fs {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uk-heading-hero {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, 50px, 0);
  transition: all .7s ease-in-out;
  &.is-active {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}